<!DOCTYPE html>
<html ng-app="filmeModule">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Language" content="pt-br">
	<title>Filmes</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.14.1.min.js"></script>
	<script src="control/filmeControl.js"></script>
</head>
<body ng-controller="filmeControl">
	<div ng-include="index.html"></div>
	<div class="panel panel-default">
		<a class="navbar-brand" href="index.html">Trabalho IFTM</a>
		<div class="panel-heading">Cadastro de Filmes</div>
		<div class="panel-body">
			<div>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a>
			    </li>
			    <li role="presentation">
			    	<a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
			    </li>
			  </ul>
			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="cadastro">					
			    	<form name="filmeForm" class="css-form" ng-submit="filmeForm.$valid && salvar()" novalidate>
				    	<br>
						<span ng-repeat="mensagem in mensagens">{{mensagem}}<br></span>
						<div ng-show="filmeForm.$submitted">
						     <div ng-show="filmeForm.nome.$error.required">Preencha o nome</div>
	      				     <div ng-show="filmeForm.nome.$error.minlength">Nome precisa ter pelo menos 10 caracteres</div>	      				
	    				</div>    				
						<br>
						<button type="button" class="btn btn-info" ng-click="novo()">Novo</button>
						<button type="submit" class="btn btn-success" ng-click="salvar()">Salvar</button>
						<button type="button" class="btn btn-danger" ng-click="excluir()">Excluir</button>
						<button type="button" class="btn btn-warning" ng-click="pesquisar()">Pesquisar</button>
						<hr/>
					  <div class="form-group col-md-2">
					    <label for="exampleInputCodigo">Codigo</label>
					    <input type="number" disabled="true" class="form-control" ng-model="filme.id" placeholder="id">
					  </div>
					  
					  <div class="form-group col-md-4">
					    <label for="exampleInputNome">Filme</label>
					    <input type="text" class="form-control" ng-model="filme.nomeFilme" name="nomeFilme" placeholder="Insira o Nome" required="" ng-minlength="10"/>
					  </div>	
					<div class="form-group col-md-6">
					    <label for="exampleInputEndereco">Genero</label>
					    <input type="text" class="form-control" ng-model="filme.generoFilme" name="generoFilme" placeholder="Insira o Endereço"/>
					  </div>	
				</div>
			    <div role="tabpanel" class="tab-pane" id="dados"></div>
				<input type="text" class="form-control" ng-model="criterio" 
				placeholder="O que voce esta procurando?" /><br>
			    	<table class="table table-hover">
			    		<th>Codigo</th><th>Filme</th><th>Endereço</th>

			    		<tr ng-repeat="filme in filmes | filter:criterio" ng-click="seleciona(filme);">
			    			<td>{{filme.id}}</td><td>{{filme.nomeFilme}}<td>{{filme.generoFilme}}
							</td>
			    		</tr>
					</table>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</body>
</html>